<script>
    #define initAjax()
        // axios.defaults.baseURL = "http://192.168.43.199:8080/";
        axios.defaults.baseURL = "http://localhost:8080/";
        // axios.defaults.baseURL = "http://192.168.26.1:8080/";
        // axios.defaults.baseURL = "http://172.18.13.131:8080/";
        // axios.defaults.baseURL = "http://172.18.14.99:8080/";
        // axios.defaults.baseURL = "http://172.17.16.114:8080/";
        // axios.defaults.baseURL = "http://192.168.199.183:8080/";
        axios.interceptors.request.use(function(config) {
            config.headers.authorization = localStorage.getItem("token");
            return config;
        }, function(error) {
            console.log('err', error);
        })
    #end

    #define init()

        #@initAjax()
        axios.post("/auth/api/check_token")
            .then(function(resp){
                if(resp.data.code===0){
                } else {
                    window.location.href="/auth/login";
                }
            }).catch(function(e){
            window.location.href="/auth/login";
        });
    #end
</script>